@charset "utf-8";


#section_wrapper{
	height: 100%;
	width: 950px;
	text-align: left;
	color: #000000;

	
	
}

#section_title_image{
	height: 40px;
	width: 650px;
	margin: 30px 30px 0px 30px;
	background: #ffffff url('./k_home.png') no-repeat;	
	
}

#section_title_image h2{
	margin: 0px 0px 0px 30px;
	line-height: 2.7;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;


}

#section{
	height: 100%;
	width: 650px;
	line-height: 2.7;
	text-indent: 15px;
	font-size: 16px;
	font-weight: bold;

	
}

#section h3{

	width: 950px;
	height: 100%;
	font-size: 16px;
	font-weight: bold;
	text-indent: 15px;
	padding: 2px 0px 0px 20px;
	background: url('./k_news.png') no-repeat left center;
	background-position: 0% 40%;
	margin: 0px 15px 30px 30px;


}

.title_text{
	width: 950px;
	height: 100%;
	margin: 0px 15px 30px 30px;
	line-height: 1.5;
	font-size: 14px;
	font-weight: normal;
	text-indent: 20px;
	background: url('./radio-3.png') no-repeat ;
	background-position: 0% -5%;

}

.main_text{
	width: 950px;
	height: 100%;
	margin: 0px 15px 30px 30px;
	font-size: 14px;
	font-weight: normal;
	text-indent: 20px;
	

}

.photo{
	margin: 0px 15px 0px 30px;
	border: 3px solid black;
}
