@charset "utf-8";


html{
	height: 100%;
}

body{
	height: 100%;
	text-align: center;
	background: #0076f4e5;
}

#wrapper_sotowaku{
	width: 950px;
	height: auto !important;
	min-height: 100%;
	margin: 0 auto -50px;
	background: #ffffff;
	border-left: 2px solid black;
	border-right: 2px solid black;
	}
	
#header{
	position: relative;
	height:250px;
	width: 950px;
	background: url('k_header.png')repeat-x;
	
	
}

#header h1{
	height:100%;
	width: 60%;
	text-align: left;
	font-size: 80px;
	color: #ffffff;	
	position:absolute; 
		top: 20px;
		left: 350px;
		
}

#header_picture2{
	height: 100%;
	width: 100%;
	background: url('k_main.png')no-repeat;
	display: inline-block;

	
}

/*
#header_image{
	position: relative;
	height: 437px;
	width: 863px;
	background: url('../images/seikotuin.png')no-repeat;
	margin : 0 auto ;
	display: inline-block;

}
*/




#push{
	height: 50px;
}

.clearfix{
	display: block;
	clear: both;
}


#footer{
	position: relative;
	height: 50px;
	width: 950px;
	margin: 0 auto;
	background: url('k_header.png')repeat-x;
}

address{
	line-height: 50px;
}




ol, ul, li,tr, th, td {
   margin: 0;
   padding: 0;
   

}
ol, ul {
	list-style: none;
}

#globalNav ul{
	position: relative;
	height: 40px;
	width: 100%;
	background: #ffffff url('k_navoff.png')repeat-x;

}
#globalNav ul li{
	float: left;
	height: 40px;
	width: 156.3px;
	background: #ffffff url('k_navoff.png')repeat-x;
	border: 0.5px solid #ffffff;


}

#globalNav li a{
	height: 40px;
	width: 156.3px;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	line-height: 3.0;
	
}

#bottom_nav ul{
	height: 40px;
	position: relative;
	width: 950px;
	background: #ffffff url('k_navoff.png')repeat-x;
	
}
#bottom_nav ul li{
	float: left;
	height: 40px;
	width: 234px;
	background: #ffffff url('k_navoff.png')repeat-x;
	border: 1.2px solid #ffffff;
}

#bottom_nav li a{
	height: 40px;
	width: 235px;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	color: #ffffff;
	line-height: 3.0;
}


ul li#active a, ul li a:hover{
	float:left;
	background: #ffffff url('k_navon.png')repeat-x;
	
}

